In [1]:
import pandas as pd

### Задание 1

In [ ]:
# Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [8]:
def rating(appraisal):
    if appraisal <= 2:
        return 'низкий рейтинг'
    if appraisal > 4:
        return 'высокий рейтинг'
    else:
        return 'средний рейтинг'

In [9]:
ratings['class'] = ratings['rating'].apply(rating)

In [12]:
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

### Задание 2

In [ ]:
# Используем файл keywords.csv.

# Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность 
# определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется 
# название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

# geo_data = {

# 'Центр': ['москва', 'тула', 'ярославль'],

# 'Северо-Запад': ['петербург', 'псков', 'мурманск'],

# 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
# }

# Результат классификации запишите в отдельный столбец region.

In [2]:
keywords = pd.read_csv('ml-latest-small/keywords.csv')

In [3]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [17]:
def region(row):
    for key, value in geo_data.items():
        for value_ in value:
            if (value_) in row:
                return key
    else:
        return 'undefined'

In [18]:
keywords['region'] = keywords['keyword'].apply(region)

In [19]:
keywords[keywords['region'] != 'undefined']

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
564                погода в санкт петербурге  292489    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
...                                      ...     ...             ...
99590  авито ярославль автомобили с пробегом    3673           Центр
99634   северпост новости мурманской области    3606    Северо-Запад
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[747 rows x 3 columns]

### Задание 3

In [ ]:
# Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, 
# используя файлы с рейтингами фильмов из прошлого домашнего занятия 
# (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). 
# Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

# При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

# В переменную years запишите список из всех годов с 1950 по 2010.

# Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов 
# содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

# для каждой строки пройдите по всем годам списка years
# если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
# если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
# Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

# Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

# P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

In [10]:
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [11]:
movies = movies.merge(ratings, on = 'movieId', how = 'left')

In [13]:
year = list(range(1950, 2011))

In [14]:
def production_year(row):
    for years in year:
        if str(years) in row:
            return years
    else:
        return '1900'

In [15]:
movies['years'] = movies['title'].apply(production_year)

In [41]:
results = movies.groupby('years').agg(['mean'])['rating'].sort_values(by = 'mean', ascending = False)
results.head()

           mean
years
1957   4.014241
1972   4.011136
1952   4.000000
1954   3.994220
1951   3.983539